services:
  ros:
    build:
      context: .
      args:
        WITH_GPU: "1"
    # https://docs.docker.com/compose/how-tos/gpu-support/
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
